<div class="sidebar">
    <ul>
        <li><a href="#">Dashboard Klien</a></li>
        <li><a href="#">Manajemen Pengguna</a></li>
        <li><a href="#">Manajemen Data dan Konfigurasi</a></li>
        <li><a href="#">Analisis Data dan Laporan</a></li>
        <li><a href="#">Pengendalian Jarak Jauh</a></li>
        <li><a href="#">Pengaturan dan Pemeliharaan</a></li>
        <li><a href="#">Monitoring dan Kontrol Sistem Hidroponik</a></li>
        <li><a href="#">Integrasi IOT</a></li>
    </ul>
</div>
