{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>AgroSphere</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>

<body>
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-sm-center h-100">
				<div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
					<div class="text-center my-5">
						<img src="{% static 'logo.png' %}" alt="logo" width="100">
					</div>
					<div class="card shadow-lg">
						<div class="card-body p-5">
							<h1 class="fs-4 card-title fw-bold mb-4">Login</h1>
							<form method="POST" class="needs-validation" novalidate="" autocomplete="off">
								<div class="mb-3">
									<label class="mb-2 text-muted" for="username">Username</label>
									<input id="username" type="username" class="form-control" name="username" value="" required autofocus>
								</div>

								<div class="mb-3">
									<div class="mb-2 w-100">
										<label class="text-muted" for="password">Password</label>
									</div>
									<input id="password" type="password" class="form-control" name="password" required>
								</div>

								<div class="d-flex align-items-center text-center">
									<button type="submit" class="btn btn-primary ms-auto">
										Login
									</button>
								</div>

								<div class="mb-3">
									<label class="mb-2 text-error" style="color: red;">{{error_message}}</label>
								</div>								
							</form>
						</div>
						{% comment %} <div class="card-footer py-3 border-0">
							<div class="text-center">
								Belum punya akun? <a href="{% url 'register_web' %}" class="text-dark">Daftar Sekarang!</a>
							</div>
						</div> {% endcomment %}
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="{% static 'js/login.js' %}"></script>
</body>
</html>
